@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
   font-family: 'Poppins';
}

.feedback {
   display: block;
   color: orangered;
   height: 16px;
   font-size: 0.8em;
}

.hidden {
   display: none;
}