@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;800&display=swap");

* {
   font-family: "Montserrat",
      Verdana,
      Geneva,
      Tahoma,
      sans-serif;
   box-sizing: border-box;
   letter-spacing: 2px;
   line-height: 2;
}

header {
   background-color: #fff;
   grid-area: header;
   background-image: url("/../img/top.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   position: relative;
}

main {
   background-color: #fff;
   grid-area: main;
   padding: 1vh;
}

footer {
   background-color: #fff;
   grid-area: footer;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   justify-items: center;
}

.container {
   display: grid;
   grid-template-rows: 30vh auto 5vh;
   grid-template-columns: 250px auto;
   grid-gap: 1vh;
   grid-template-areas:
      "header header"
      "aside main"
      "footer footer"
   ;
   overflow: hidden;
}

.upper-box {
   background-color: #eee;
   padding: 20px;
   margin-bottom: 20px;
   border: 1px solid #ccc;
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
   box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}

.albums-list-row {
   background-color: #eee;
   padding: 10px 20px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
   box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
   transition-duration: 0.2s;
}

.albums-list-row:hover {
   border-color: #999;
   background-color: #e0e0e0;
}

.albums-list-row a {
   text-decoration: none;
   color: black;
}

.feedback {
   display: block;
   color: orangered;
   min-height: 16px;
   font-size: 0.8em;
}

.hidden {
   display: none;
}

img.logo {
   position: absolute;
   right: 10px;
   bottom: 10px;
}

img.gallery {
   max-width: 300px;
   max-height: 260px;
   transition-duration: 0.5s;
   object-fit: contain;
   padding: 5px;
   border: 1px solid #999;
   background-color: white;
   border-radius: 6px;
}

.gallery-photo {
   margin: 6px;
   height: fit-content;
   width: fit-content;
   text-align: center;
   position: relative;
   overflow: hidden;
   border-radius: 5px;
   box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.2);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

.gallery-photo a {
   letter-spacing: 0;
   line-height: 0;
   padding: 0;
   display: block;
   color: white;
}

.image-buttons {
   opacity: 0;
   position: absolute;
   top: 15px;
   right: 15px;
   transition-duration: 1s;
   padding-top: 0;
}

img.photo-icon {
   width: 34px;
   height: 34px;
   border: 1px solid white;
   border-radius: 6px;
   padding: 4px;
   cursor: pointer;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
}

.gallery-photo:hover .gallery-photo-overlay {
   opacity: 1;
   bottom: 0;
}

.gallery-photo:hover img.gallery {
   filter: blur(5px);
   -webkit-filter: blur(5px);
}

.gallery-photo:hover .image-buttons {
   opacity: 1;
}

.gallery-photo-overlay {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   bottom: -10px;
   left: 0;
   background-color: rgba(40, 43, 51, 0.7);
   width: 100%;
   height: calc(100% + 20px);
   color: white;
   opacity: 0;
   transition-duration: 0.5s;
   font-size: smaller;
   line-height: normal;
   padding: 10px;
}

@keyframes popup {
   0% {
      opacity: 0;
      transform: translateY(-50px);
      -webkit-transform: translateY(-50px);
      -moz-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
      -o-transform: translateY(-50px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
   }
}

.popup {
   animation-name: popup;
   animation-duration: 0.8s;
   animation-timing-function: ease;
   animation-fill-mode: forwards;
   text-align: center;
   height: auto;
   min-width: 35vw;
   max-width: 96%;
   border: 1px solid black;
   border-radius: 10px;
   padding: 15px;
   color: black;
   box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
   background-color: rgba(255, 255, 255, 0.9);
}

.screen-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: rgba(200, 200, 200, 0.4);
   display: none;
   opacity: 0;
   justify-content: center;
   align-items: center;
   transition-duration: 1s;
   backdrop-filter: blur(4px) grayscale(100%);
   z-index: 9999;
}

input.edit-title {
   margin: 10px;
   width: 300px;
   padding: 4px;
   background: none;
   border-radius: 8px;
   border: 1px solid white;
   color: white;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
}

.alert {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   min-height: 50px;
   background-image: linear-gradient(#FFFFCC, #FFCC66);
   color: black;
   font-weight: 800;
   border: 1px solid #ddaa44;
   border-radius: 8px;
   margin: 20px 0;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
}

@media only screen and (max-width: 1300px) {

   body,
   html {
      margin: 0;
      padding: 0;
   }

   .container {
      display: grid;
      grid-template-rows: 30vh auto 5vh;
      grid-template-columns: 100%;
      grid-gap: 0;
      grid-template-areas:
         "header"
         "main"
         "footer";
   }

}

@media only screen and (max-width: 760px) {

   img.gallery {
      max-width: 150px;
   }

   .image-buttons {
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 1;
      top: unset;
      bottom: 6px;
      left: 6px;
      right: unset;
   }

   img.photo-icon {
      width: 20px;
      height: 20px;
      padding: 2px;
   }

}

@media (hover: none) {
   .image-buttons {
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 1;
      top: unset;
      bottom: -6px;
      left: 6px;
      right: unset;
      padding: 5px;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
   }
}
